.App {
  text-align: center;
  background-image: url('../background.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}


.container-title {
  height: 100px;
  width: 500px;
  color: white;
  border-radius: 10%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.background-container {
  background-color: rgb(206, 203, 203);
  opacity: 0.6;
  height: 100px;
  width: 500px;
  position: absolute;
  border-radius: 10%;
}

.title {
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}